<ion-content>

  <section>

    <h1>Reset Your Password</h1>
    <ion-text color="danger">{{getResponse}}</ion-text>

    <form #resetPasswordData="ngForm" (ngSubmit)="resetPasswordForm(resetPasswordData.form)">

      <div class="container">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter new Password" name="password" [(ngModel)]="password" required>

        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Your new Password again" name="confirmPassword"
          [(ngModel)]="confirmPassword" required>


        <button type="submit" [disabled]="resetPasswordData.form.invalid">Submit</button>
      </div>

    </form>


  </section>

</ion-content>