<ion-content>

  <section>

    <h1>Register</h1>

    <ion-text color="warning">{{getResponse}}</ion-text>

    <form #registerData="ngForm" (ngSubmit)="registrationForm(registerData.form)">
      <div class="container">
        <label for="FirstName"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="firstName" [(ngModel)]="firstName" required>

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastName" [(ngModel)]="lastName" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="email" required>

        <br>
        <ion-text color="danger">{{errorMessage}}</ion-text>
        <br>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>

        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword"
          required>

        <button type="submit" [disabled]="registerData.form.invalid">Register</button>
      </div>

      <div class="container">
        <span class="haveAnAccount">Have an <a href="#" [routerLink]="['/login']">account?</a></span>
        <span class="forgotPass">Forgot <a href="#" [routerLink]="['/forgot-password']">password?</a></span>
      </div>
      <br>
    </form>


  </section>

</ion-content>