<ion-content>

  <section>

    <h1>Forgot Password</h1>
    <ion-text color="danger">{{getResponse}}</ion-text>

    <form #forgotEmaildata="ngForm" (ngSubmit)="forgotEmailForm(forgotEmaildata.form)">

      <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" [(ngModel)]="email" required>

        <button type="submit" [disabled]="forgotEmaildata.form.invalid">Submit</button>
      </div>

    </form>


  </section>

</ion-content>