<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label><strong>Name :</strong> Bike Accident Tracker</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Version :</strong> 1.0</ion-label>
    </ion-item>
    <ion-item>
      <p><strong>Description :</strong> This is a simple bike accident tracker app. We can detect bike accident
        and contact with victim family members automatically by this app</p>
    </ion-item>

    <ion-item>
      <ion-label><strong>Developer team</strong></ion-label>
    </ion-item>
  </ion-list>



  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gm1.ggpht.com/avfrHm62mZD3-mFvQnWlgjXV4s6GPOP_-NPJYIGjKvnvm13IqDlqE_WOgN0j--R6XId2M1jZVXp74gycVpQF4hsUiJBDHTYm-f55LZUCUGGfkdHWklSRyLIBY3A_EwUFHO3rCWAKSDFgqMsYJHZ35DyAIze6nfxY2LjETgS6qkyvkrMHYEdA_tGjQYBUVNa34_Te7mq3Y0k2CwKmcHUNQw5DKmsjVj9KtZvkZLHWkwH9YA4skaed01XnruSRSyAU6JlMA4ECvBUQuW9v5f5Msghg3eKyK5QDkSRVUp9T4H0w9tlZOlzG_CJWiDHFdqQgLhdOca3FGglbipTChTdIVKCPM8WA_VAsDK2rOrwI_0tn6Leu6QyO2sILRW3hZEEVU8G4jdn19C8XJSN2NZyjdUrn4_C1MChsQA2QGmux7vF8mpw5vsEmgH_d588fWI_pr8urNoxmGiuh3AqBgiRlFGDpc0l4jILvQEJTCQO9Xci_9PQhCJAAUhW7xmT9BupSXTEHAqCT2WbXraliv9i2R8Ny5zt7ckB2ugnphZa1fTYZrES6sTLwS2hkBnssmdcrsdSobisV5a2FgtQrLvgWK9IQ2gBIgMtfQAOFYKDQ7fbVhXKx1_i42339pk9L8_NmxjNzw5FjW2V_wJ453uFrOK0qKIChprAEXGGy1t03Z7jebf3uY9UB9AheRgRVJwNz4XCUD7PTwCMBWDNL9N27fevcxm4qg6djiFQQ90pBOrF9P0URAlrSFZzyLeLrahqx7aU=s0-l75-ft-l75-ft">
      </ion-avatar>
      <ion-label>
        <h3>Namrata Banerjee</h3>
        <p>Project Manager</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gm1.ggpht.com/nmmh_BPUR37frshl-Ib9rXY8vIElbBG-8S3nfZ-nC-NTZY8dur33-tfDLinRZG25nXVyIBWu4BnDJNnOIWwNcQsI_VRvry6HDJ7udYXvykbxJ9HMjHtU7QfTfQE4Czj-RJe5SmiNJsH2dj1RN4gL_2GCm1hj3Npc2QrPh_I-3iqOCpUiG828qnlhDwM3yLJ4y75xTOGL2yOn4FiIXo7OJREpkTy_Pxs9mbNBjYTnr7Ph2InctDO1-hkwfWeUrJoQL8sSFZq__IP9J6S6RqG7_hztyJWmgXf-FUVL0KXRwzVvvnTCBJiGfHe6CKLvFZ3V-TNMzrafwB8tPyTb3yHTJip1dBYUVDWVWhZJ7i_pH4J5gNMmxiTOoW-KheId50MHo6pHeyxgIo0GCUHmQeTvRJsGQYySknW7Mih1XFbxHI8POs21LgELOvjUAosv9RjJs1EvFocYC1F9u_JFTc_NgCjMFgVcJ4NItzGenjDZR-dRbJYM0elN7eWLoJRSfWK1MFvgfWub8ml6_8L-FbroZFP4hp4SreceaZS-oWzFfHseyawfn0mcbtVWBjtocUvjhP_hQi817yIMQSYWjRKuFrH65R7D4cZFXhdvbTKV13NQ7dU-MACyZs8DcWbl5ekMGQDURClEYaV9B93Ch6KpuvmrVMD3hitWGI-uP4beEtDl3jn492voRAuJeWkNvsBk8cvXDgn6GVqWh34SlarKwnylwxDgN2ccDFEhiyu5MKFiNva3nsS14boTIvt0jgZunE7S3A=s0-l75-ft-l75-ft">
      </ion-avatar>
      <ion-label>
        <h3>Ankan Das</h3>
        <p>QA Manager</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://scontent-bom1-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/p750x750/90042690_144592757034775_4635442697699453473_n.jpg?_nc_ht=scontent-bom1-2.cdninstagram.com&_nc_cat=107&_nc_ohc=9aKYKPX-uzAAX9vSpu1&oh=b1d57e74dd6d08f3c2fad2e362b316f1&oe=5EABD2B5">
      </ion-avatar>
      <ion-label>
        <h3>Pranjal Das</h3>
        <p>QA Engineer</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p480x480/67588520_2364711677118511_1326000354399092736_o.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_ohc=wOuv5boYIu8AX_3UNqQ&_nc_ht=scontent-bom1-1.xx&_nc_tp=6&oh=de63d8271c76160e347386ecb2e9598e&oe=5EA71511">
      </ion-avatar>
      <ion-label>
        <h3>Joy Dey</h3>
        <p>Lead Developer</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p240x240/73157415_519568528592886_7347071923844546560_o.jpg?_nc_cat=102&_nc_sid=dbb9e7&_nc_ohc=Q_uYFqok99EAX-nzSVU&_nc_ht=scontent-bom1-1.xx&_nc_tp=6&oh=3f8952227e46e490d18b5901b187d0ec&oe=5EA4CD1C">
      </ion-avatar>
      <ion-label>
        <h3>Suchismita Nandy</h3>
        <p>Developer</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://scontent-bom1-2.cdninstagram.com/v/t51.2885-19/s320x320/80585416_456141318626837_1887291101824417792_n.jpg?_nc_ht=scontent-bom1-2.cdninstagram.com&_nc_ohc=uB2AF-Qr0YIAX8q2rHY&oh=bcdfecf02c05a4057125e2cd9f89d363&oe=5EA9E616">
      </ion-avatar>
      <ion-label>
        <h3>Debojit Datta</h3>
        <p>Developer</p>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>