<ion-content>

  <section>

    <h1>Verify Email For Resetting Password</h1>
    <ion-text color="danger">{{getResponse}}</ion-text>

    <form #verifyResetPassworddata="ngForm" (ngSubmit)="verifyResetPasswordForm(verifyResetPassworddata.form)">

      <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" [(ngModel)]="email" required>

        <label for="verifyCode"><b>Verify Code</b></label>
        <input type="text" placeholder="Enter Your Verify Code" name="verifyCode" [(ngModel)]="verifyCode" required>


        <button type="submit" [disabled]="verifyResetPassworddata.form.invalid">Submit</button>
      </div>

    </form>


  </section>

</ion-content>